@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-grotesk: 'Space Grotesk', 'ui-sans-serif', 'system-ui', 'sans-serif';
}
